html {
	height: 100%;
}

body {
	height: 100%;
	background: #777;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#999), to(#777));
	-webkit-font-smoothing: antialiased;
	background-repeat: no-repeat;
}

/* fonts */
textarea {
	font-family: "Georgia";
	line-height: 1.55;
	font-size: 16px;
}

#messages div {
	height: 90%;
}


/*-- page start--*/
#page{
	margin-bottom:50px;
	width:100%;
	height:100%;

	}

#mainContent{
	display: inline-block;
	width: 73.9%;
	margin-left: 4.4%;
	position: absolute;
	bottom: 60px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}

#messageDropZone{
	display: inline-block;
	width: 21.68%;
	max-width: 175px;
	position: absolute;
	bottom: 60px;
	top: 0px;
	right: 0px;
	opacity: 0.7;
	overflow: hidden;
}

#messages {
	height: 100%;
	margin-bottom: 50px;
}

.message {
	background: #EEE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	min-width: 400px;
}

.message textarea {
	overflow: hidden;
	background: none;
	resize: none;
	border: none;
	width: 400px;
	height: 100%;
}

.message textarea:focus {
	border: none;
	outline: none;
}
