.paper.container-fluid
	.header.row-fluid
		each m in messages.slice(0,5)
			.message.span2
				p= m.message
	.body.row-fluid
		.left.span3
			each m in messages.slice(1, 5)
				.message
					p= m.message
		.center.span6
			each m in messages.slice(2, 6)
				.message
					p= m.message		
		.right.span3
			each m in messages.slice(1, 5)
				.message
					p= m.message
